body {
    color: blue;
    width: 100%;
    text-transform: capitalize;
    text-indent: 5px;
    background-color: aliceblue;
    word-spacing: 5px;

}

h1 {
    color: green;
    background-color: aqua;
    height: auto;
    width: 100%;
    letter-spacing: 5px;
    text-shadow: 2px 2px;
    text-align: center;
    font-style: italic;


}

.last {
    text-align-last: left;
    white-space: nowrap;
}

.second {
    direction: rtl;
    unicode-bidi: bidi-override;
    line-height: 0.8;

}

h2 {
    text-decoration-line: overline;
    text-decoration-color: red;
    text-decoration-style: dotted;
    text-decoration-thickness: 5px;
    letter-spacing: -2px;

}

h3 {
    text-decoration-line: line-through;
    text-decoration-color: blue;
    text-decoration-style: dashed;
    text-decoration-thickness: auto;

}

h5 {
    text-decoration-line: underline;
    text-decoration-color: green;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;

}

h4 {
    border: 2px red solid ;
    padding: 10px;
    text-align: center;
    /* text-decoration-line: overline underline; */
    text-decoration-color: aqua;
    text-decoration-style: double;
}

.p1 {
    font-family: 'Times New Roman', Times, serif;
}

.p2 {
    font-family: Arial, Helvetica, sans-serif;
}

.p3 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.p4 {
    font-family: Georgia, serif;
}

.p5 {
    font-family: 'Courier New', monospace;
}

.p6 {
    font-family: "Brush Script MT", cursive;
}

.rajan {
    font-family: "Open Sans", sans-serif;

}

a.one:link {
    color: #ff0000;
}

a.one:visited {
    color: #0000ff;
}

a.one:hover {
    color: #ffcc00;
}

a.two:link {
    color: #ff0000;
}

a.two:visited {
    color: #0000ff;
}

a.two:hover {
    font-size: 150%;
}

a.three:link {
    color: #ff0000;
}

a.three:visited {
    color: #0000ff;
}

a.three:hover {
    background: #66ff66;
}

a.four:link {
    color: #ff0000;
}

a.four:visited {
    color: #0000ff;
}

a.four:hover {
    font-family: monospace;
}

a.five:link {
    color: #ff0000;
    text-decoration: none;
}

a.five:visited {
    color: #0000ff;
    text-decoration: none;
}

a.five:hover {
    text-decoration: underline;
}

.div1 {
    size: 100px;
    line-height: 1.6;

}

ul.a {
    list-style-type: circle;
    margin: 0px;
    padding: 0px;
}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style: lower-alpha;
}

ol.d {
    list-style: upper-roman;

}

ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}

ul {
    background: #3399ff;
    padding: 20px;
}

ol {
    background: #ff9999;
    padding: 20px;
}


ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
}
div.sticky{
    position: sticky;
    top: 0;
}
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }

  div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }