h1{
    color:rgb(0, 0, 255);
}
body{
    background-image: url('../Css/images/car.jpg');
    background-repeat: no-repeat;

}
p.inset{
    border-style: inset;
    border-width: 10px  ;
    border-color: rgba(99, 149, 193,0.5);
    border-radius: 5px;
    outline-style: double;
    outline-offset: 20px;
}
p.outset{
    border-style: outset;
    border-width: 10px  ;
    border-color: rgba(99, 149, 193, 0.5);
    border-radius: 5px;
}
p.ridge{
    border-style: ridge;
    border-width: 10px  ;
    border-color: rgba(99, 149, 193, 0.5);
    border-radius: 5px;
}
div{
    width: 98%;
    border-style: ridge;
    outline: groove red;
    outline-offset: 10px;
    margin: 10px;
}