table,td,th,tr{
    border: 2px ridge;
    border-collapse: collapse;
    padding: 10px;
    width: 50%;
}
th{
    height: 100px;
    text-align: center;
    background-color: #04AA6D;
    color: aliceblue;
}
td{
    height: 50px;
    vertical-align: bottom;
}
tr:nth-child(even){
    background-color: antiquewhite;
}
tr:nth-child(odd){
    background-color: azure;
}
/* table {
    border-collapse: collapse;
    max-width: 100%;
  }
  
 th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  } */
  div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #73AD21;
  }