body {
  background-color: azure !important;
}

.img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: .5;
  height: 100%;
}

.div1 {
  position: absolute;
  z-index: 1;
  border: 1px solid;
  height: 200px;
  width: 70%;
  margin-left: 50px;
  background-color: aliceblue;
}

.div2 {
  border: 2px solid;
  position: absolute;
  z-index: 2;
  height: 160px;
  width: 50%;
  left: 90px;
  top: 100px;
  background-color: antiquewhite;
}

.div3 {
  position: absolute;
  z-index: 2;
  background-color: aqua;
  width: 35%;
  left: 270px;
  top: 35px;
  height: 200px;
}

.div4 {
  position: absolute;
  z-index: 1;
  border: 1px solid;
  height: 200px;
  width: 70%;
  margin-left: 50px;
  background-color: aliceblue;
}

.div5 {
  border: 2px solid;
  position: absolute;
  z-index: 3;
  height: 160px;
  width: 50%;
  left: 90px;
  top: 100px;
  background-color: antiquewhite;
}

.div6 {
  position: absolute;
  z-index: 2;
  background-color: aqua;
  width: 35%;
  left: 270px;
  top: 35px;
  height: 200px;
}

.p1 {
  background-color: aquamarine;
  overflow: auto;
  height: 100px;
  width: 400px;
  overflow-y: auto;
  overflow-x: auto;
}

.p2 {
  overflow: visible;
  background-color: aquamarine;
  height: 100px;
  width: 400px;
}

.p3 {
  overflow: hidden;
  background-color: aquamarine;
  height: 100px;
  width: 400px;

}

h1 {
  text-align: center;
}

.image {
  float: right;
  width: 100px;
  height: 100px;
  margin-left: 20px;
}

.image1 {
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.line {
  float: left;
  padding: 15px;
}

.line1 {
  float: left;
  padding: 15px;
  background-color: antiquewhite;

}

.line2 {
  float: left;
  padding: 15px;
  background-color: aquamarine;
}

.line3 {
  float: left;
  padding: 15px;
  background-color: blue;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.clear1 {
  float: left;
  padding: 10px;
  border: 3px solid #73AD21;
}

.clear2 {
  padding: 20px;
  border: 3px red solid;
}

.clear3 {
  float: left;
  padding: 10px;
  border: 3px solid #73AD21;
}

.clear4 {
  padding: 20px;
  border: 3px red solid;
  clear: left;
}

span.a {
  display: inline;
  /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

span.b {
  display: inline-block;
  /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}

span.c {
  display: block;
  /* the default for span */
  width: 100px;
  height: 100px;
  padding: 5px;
  border: 1px solid blue;
  background-color: yellow;
}
